@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&display=swap');



body {
    width: 1440px;
    background: #FFF;
    margin: auto;
}
/* Normalizar IMG */
img {
    width: 100%;
}

/* HEADER */
header {
    background: #30343F;
    padding: 38px;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.nabvar {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}
.nabvar_logo {
    display: flex;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nabvar_menu {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nabvar_link {
    position: relative;
    color: #FFF;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px 16px;
    display: inline-block;
    transition: background 0.3s ease-in-out ;
    -webkit-transition: background 0.3s ease-in-out ;
    -moz-transition: background 0.3s ease-in-out ;
    -ms-transition: background 0.3s ease-in-out ;
    -o-transition: background 0.3s ease-in-out ;
}
.nabvar_link:hover {
    background-color: #FF3333e6;
}

.with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    background: #30343F;
    font-family: 'Raleway';
    
    position: absolute;
    width: 150px;
    
}
.submenu_item {
    display: block;
    font-size: 20px;
}
.submenu_link {
    display: block;
    padding: 8px 16px;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: background 0.3s  ease-in-out;

}
.submenu_link:hover {
    background-color: #FF3333e6;
}
    
.titulo_carrito_contain{
    width: 1220px;
    margin: auto;
    margin-top: 125px;
}
.titulo_carrito {
    color: #111;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 5px solid #F33;
    margin-bottom: 60px;
}

.detalle {
    display: flex;
    align-items: center;
    width: 1220px;
    height: 51px;
    border-radius: 10px;
    background: #FAFAFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    justify-content: space-around;
    margin: auto;
    margin-bottom: 32px;
}

.detalle_producto {
    color: #000;
    font-family: 'Inter', sans-serif;font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 50%;
    padding-left: 10.5%;
}
.detalle_cantidad {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 25%;
    padding-left: 2px;
}
.detalle_total {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 25%;
    padding-left: 8px;
}

.item {
    display: flex;
    width: 1220px;
    height: 195px;
    padding: 16px;
    align-items: center;
    border-radius: 25px;
    background: #FAFAFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-bottom: 32px;
}
.item_contain {
    display: flex;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
    flex-direction: row;
    width: 50%;
}
.item_imagen {
    width: 118px;
    height: 118px;
    flex-shrink: 0;
}
.item_contain_txt {
    display: flex;
    flex-direction: column;
}
.item_nombre {
    color: #111;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 6px;
}
.item_saga {
    color: #30343F;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}
.item_precio {
    color: #333;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cant_contain {
    display: flex;
    width: 25%;
}
.cant {
    display: flex;
    width: 89px;
    height: 40px;
    flex-shrink: 0;
    border: 0.5px solid #C9C9C9;
    background: #FFF;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cant_var {
    display: flex;
    padding: 0px 4px;
    flex-direction: column;
    justify-content: space-between;
}

.cant_var_mas, .cant_var_menos {
    display: flex;
    justify-content: center;
    height: 18px;
    width: 18px;
    background: #F24E1E;

}

.item_total {
    color: #333;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item_eliminar {
    display: flex;
    flex-grow: 1;
    height: 28px;
    flex-shrink: 0;
    justify-content: flex-end;
}
.item_eliminar img {
    display: flex;
    width: 28px;

}
.resumen_contain_titulo{
    display: flex;
    width: 1220px;
    margin: auto;
}

.resumen_titulo {
    color: #111;
    font-family: Raleway;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: auto;
    margin-top: 68px;
    margin-bottom: 26px;
    margin-right: 0;
    text-align: end;
    border-bottom: 5px solid #F33;
    display: inline-flex;
    padding-bottom: 0px;
    gap: 10px;
}

.resumen {
    display: flex;
    width: 1220px;
    margin: auto;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.resumen_contain {
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 10px;
    background: #FAFAFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.resumen_container_cantidad {
    display: flex;
    justify-content: space-between;
    width: 524px;

}
.resumen_cantidad_txt {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.resumen_cantidad_num {
    color: #747474;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resumen_container_subtotal {
    display: flex;
    width: 524px;
    justify-content: space-between;
    align-items: center;
}
.resumen_subtotal_txt {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.resumen_subtotal_num {
    color: #747474;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resumen_container_envio {
    display: flex;
    width: 524px;
    justify-content: space-between;
    align-items: center;
}
.resumen_envio_txt {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.resumen_envio_num {
    color: #747474;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resumen_container_total {
    display: flex;
    width: 524px;
    padding-top: 8px;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #F33;
}
.resumen_total_txt {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resumen_total_num {
    color: #747474;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btb_pagar {
    display: flex;
    width: 572px;
    height: 68.656px;
    background: #F33;
    margin-top: 44px;
    margin-bottom: 128px;
}

.pagar {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    margin: auto;
}    

/* FOOTER */
.footer {
    background: #30343F;
    padding: 100px;
    padding-bottom: 20px;
}

.footer_copy {
    color: #FFF;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
margin-top: 56px;
}
