@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&display=swap');

/* DESIGN SYSTEM */
:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid: #1d84b5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --bg-dark-solid: #30343F;
    --bg-light-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-46: 4.6rem; 
    --font-38: 3.8rem; 
    --font-30: 3.0rem; 
    --font-24: 2.4rem; 
    --font-20: 2rem; 
    --font-16: 1.6rem; 
    --font-14: 1.4rem; 

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

html {
    box-sizing: border-box;
    line-height: 1; /* 1 */
    font-family: var(--base-font);
    color: var(--dark-solid);
}
header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);

}

body {
    width: 1440px;
    background: #FFF;
    margin: auto;
}
/* Normalizar IMG */
img {
    width: 100%;
}

/* HERO banner */
.hero {
    background-image: url(./../img/funkos-banner.webp);
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    padding: 100px 0 128px 0;
    position: relative;
}
.hero::before {
    content: '';
    background-color: rgb(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(0.9);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    position: relative;
    z-index: 2;

}
.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-38);
    color: var(--light-font-solid);
}
.hero__text {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    font-size: var(--font-20);
}
.hero__link {
    display: inline-block;
    color: var(--dark-solid);
    font-size: var(--font-20);
    background-color: var(--bg-light-solid);
    padding: var(--spacing-12) var(--spacing-68);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    font-weight: 500;   
    transition: all 0.3s ease-in-out;

}
.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

/* COLLECTIONS */
.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 100px;
}
.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.collection__title {
    color: #111;
    font-family: var(--alternative-font);
    font-size: var(--font-46);
    font-weight: 500;
    line-height: normal;    
    text-transform: uppercase;
    padding-bottom: 6px;
}
.collection__text {
    color: #4F4F4F;
    font-family: var(--alternative-font);
    font-size: var(--font-24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    border-bottom: 2px solid #FF3333;
    padding-bottom: var(--spacing-24);
}
.collection__link {
    display: inline-block;
    border-radius: 50px;
    background-color: #30343F;
    color: #FFF;
    font-family: var(--base-font);
    font-size: var(--font-24);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: var(--spacing-16) var(--spacing-36);
    margin-top: var(--spacing-36);
    transition: background 0.3s  ease-in-out ;
}
.collection__link:hover {
    background-color: var(--primary-900);
}

/* SLIDER */
.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin-bottom: 20px;
}
.slider__title {
    color: #111;
    font-family: var(--alternative-font);
    font-size: var(--font-46);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.slider__items {
    display: flex;
    gap: var(--spacing-24);
}
.card-item__cover {
    display: flex;
    position: relative;
}
.card-item__cover img {
    animation: fade 0.7s;
}
.card-item__img--back {
    display: none;
}
.card-item__cover:hover .card-item__img--back {
    display: block;
}
.card-item__cover:hover .card-item__img--front {
    display: none;
}
.card-item__tag {
    position: absolute;
    background: #F33;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: var(--spacing-8) var(--spacing-24);
    right: 0;
    text-transform: uppercase;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
    margin-bottom: var(--spacing-68);
}
.card-item__licence {
    color: #333;
    font-family: Inter;
    font-size: var(--font-14);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.card-item__name {
color: #111;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.card-item__price {
    color: #333;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.card-item__promo{
    color: #1D84B5;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}





/* FOOTER */
.footer {
    background: var(--bg-dark-solid);
    padding: var(--spacing-68);
    padding-bottom: var(--spacing-20);
}

.footer__copy {
    color: var(--light-font-solid);
    font-family: var(--base-font);
    font-size: var(--font-20);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: var(--spacing-36);
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}