.item-collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 68px;
}
.item-collection__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 36px;
}
.item-collection__licence {
    color: #333;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 12px;
}
.item-collection__title {
    color: #111;
font-family: Inter;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 16px;
}
.item-collection__text {
    color: #333;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 16px;
}
.item-collection__price {
    color: #333;
font-family: Inter;
font-size: 38px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 28px;
}
.item-collection__cant__container {



    margin-bottom: 28px;
}
.item-collection__promo {
    color: #1D84B5;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.item-collection__promo :nth-child(1) {
    text-decoration-line: underline;
}

/* SLIDER */
.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin-bottom: 20px;
}
.slider__title {
    color: #111;
    font-family: var(--alternative-font);
    font-size: var(--font-46);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.slider__items {
    display: flex;
    gap: var(--spacing-24);
}
.card-item__cover {
    display: flex;
    position: relative;
}
.card-item__cover img {
    animation: fade 0.7s;
}
.card-item__img--back {
    display: none;
}
.card-item__cover:hover .card-item__img--back {
    display: block;
}
.card-item__cover:hover .card-item__img--front {
    display: none;
}
.card-item__tag {
    position: absolute;
    background: #F33;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: var(--spacing-8) var(--spacing-24);
    right: 0;
    text-transform: uppercase;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
    margin-bottom: var(--spacing-68);
}
.card-item__licence {
    color: #333;
    font-family: Inter;
    font-size: var(--font-14);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.card-item__name {
color: #111;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.card-item__price {
    color: #333;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.card-item__promo{
    color: #1D84B5;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}





/* FOOTER */
.footer {
    background: var(--bg-dark-solid);
    padding: var(--spacing-68);
    padding-bottom: var(--spacing-20);
}

.footer__copy {
    color: var(--light-font-solid);
    font-family: var(--base-font);
    font-size: var(--font-20);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: var(--spacing-36);
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}