:root {
  --color-torch-red: 252, 20, 84;
  --color-baltic-sea: 40, 39, 44;
  --color-tuna: 52, 52, 60;
  --color-eastern-blue: 28, 133, 181;
  --color-red-orange: 252, 52, 52;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: rgba(var(--color-tuna), 1);
}

/*6*/
.product {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImg > img {
  width: 100%;
}
.productData > button {
  background-color: rgba(var(--color-tuna), 1);
}

#agregarAlCarrito {
  color: azure;
  background-color: rgba(var(--color-red-orange), 1);
}

.mediosDePago:hover {
  cursor: pointer;
}
.mediosDePago {
  cursor: pointer;
}
.mediosDePago {
  text-decoration: underline;
  text-underline-position: under;
}

.paymentData {
  color: rgba(var(--color-eastern-blue), 1);
}
.productData > input {
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

sub {
  color: dimgray;
  font-weight: 600;
}

.productData > p:nth-child(3) {
  font-size: large;
}
.productData > p:nth-child(4) {
  font-size: x-large;
}

/*7*/
#relatedProducts {
  background-color: white;
}

#relatedProducts > h1 {
  margin: 0 0 0 11%;
}
#productCarousel {
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr 1fr 1fr 10%;
  grid-template-areas: ". figure1 figure2 figure3 .";
  gap: 1%;
}
#productCarousel > figure > img {
  width: 100%;
}
figure {
  position: relative;
  place-self: center;
  margin: 0px;
  background-color: rgba(128, 128, 128, 0.2);
}

figure > figcaption {
  position: absolute;
  right: 0;
  padding: 1% 5%;
  color: azure;
  background-color: rgba(var(--color-red-orange), 1);
  float: right;
}

#productCarousel > figure:nth-child(2) {
  grid-area: figure1;
}

#productCarousel > figure:nth-child(1) {
  grid-area: figure3;
}
#productCarousel > figure:nth-child(3) {
  grid-area: figure2;
}

#productCarousel > button {
  background: none;
  border: 1px solid gray;
  color: gray;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-weight: 900;
}

#carouselBtnLeft {
  justify-self: right;
}

#carouselBtnRight {
  justify-self: left;
}

/*5*/
#productList {
  padding: 0 5% 0 5%;
  background-color: aliceblue;
}

.fa-pen {
  color: rgba(var(--color-eastern-blue), 1);
}
.fa-magnifying-glass {
  padding-right: 1%;
}

.fa-trash-can {
  color: rgba(var(--color-red-orange), 1);
}
.fa-square-plus {
  color: rgba(var(--color-red-orange), 1);
}
table {
  width: 100%;
}
tbody {
  text-align: center;
}
#searchProductSection > input[type="text"] {
  min-width: 25%;
}
#productListTitle {
  padding: 1%;
  text-align: left;
}
#productListAdd {
  text-align: right;
}

#searchProductSection {
  padding: 1%;
}

figure > p,
figure > h1 {
  margin: 0;
}
figure {
  display: flex;
  flex-direction: column;
}
