<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mission Partials</title>
    <link rel="stylesheet" href="partials.css" />
  </head>
  <body>
    <main>
      <article class="product">
        <section class="productImg">
          <img src="img/star-wars/baby-yoda-1.webp" alt="" />
        </section>
        <section class="productData">
          <sub>STAR WARS</sub>
          <h1>BABY YODA BLUEBALL</h1>
          <p>
            Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga,
            edición limitada.
          </p>
          <p>$1799,99</p>
          <input value="1" type="number" outlined dense min="1" />

          <button id="agregarAlCarrito">Agregar al carrito</button>
          <br />
          <p>
            <a id="mediosDePago">Ver métodos de pago</a> - 3 CUOTAS SIN INTERÉS
          </p>
        </section>
      </article>

      <section id="relatedProducts">
        <h1>Productos Relacionados</h1>
        <article id="productCarousel">
          <button id="carouselBtnLeft"><</button>
          <figure>
            <img src="img/star-wars/trooper-1.webp" alt="Trooper" />
          </figure>
          <figure>
            <img src="img/pokemon/pidgeotto-1.webp" alt="Pidgeotto" />
          </figure>
          <figure>
            <img src="img/harry-potter/luna-1.webp" alt="Luna" />
          </figure>
          <button id="carouselBtnRight">></button>
        </article>
      </section>
    </main>
  </body>
</html>
