<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mission Partials</title>
    <link rel="stylesheet" href="partials.css" />
  </head>
  <body>
    <main>
      <article class="product">
        <section class="productImg">
          <img src="img/star-wars/baby-yoda-1.webp" alt="" />
        </section>
        <section class="productData">
          <sub>STAR WARS</sub>
          <h1>BABY YODA BLUEBALL</h1>
          <p>
            Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga,
            edición limitada.
          </p>
          <p><i>$1799,99</i></p>
          <input value="1" type="number" outlined dense min="1" />

          <button id="agregarAlCarrito">Agregar al carrito</button>
          <br />
          <p class="paymentData">
            <a class="mediosDePago">Ver métodos de pago</a> - 3 CUOTAS SIN
            INTERÉS
          </p>
        </section>
      </article>
      <br />
      <section id="relatedProducts">
        <h1>PRODUCTOS RELACIONADOS</h1>
        <article id="productCarousel">
          <button id="carouselBtnLeft"><</button>
          <figure class="productData">
            <figcaption>Nuevo</figcaption>
            <img src="img/star-wars/trooper-1.webp" alt="Trooper" />
            <sub>STAR WARS</sub>
            <h1>Stormtrooper Lightsaber</h1>
            <p><i>$1799,99</i></p>
            <p class="paymentData">3 CUOTAS SIN INTERÉS</p>
          </figure>
          <figure>
            <figcaption>Nuevo</figcaption>
            <img src="img/pokemon/pidgeotto-1.webp" alt="Pidgeotto" />
            <sub>Pokemon</sub>
            <h1>Pidgeotto</h1>
            <p><i>$1799,99</i></p>
            <p class="paymentData">3 CUOTAS SIN INTERÉS</p>
          </figure>
          <figure>
            <figcaption>Nuevo</figcaption>
            <img src="img/harry-potter/luna-1.webp" alt="Luna" />
            <sub>Harry Potter</sub>
            <h1>Luna Lovegood Lion Mask</h1>
            <p><i>$1799,99</i></p>
            <p class="paymentData">3 CUOTAS SIN INTERÉS</p>
          </figure>
          <button id="carouselBtnRight">></button>
        </article>
      </section>
    </main>
  </body>
</html>
