/node_modules
/packages
/bin
/out
/target
.o
.pyc
.class
.log
.lock
.tmp
.DS_Store
Thumbs.db

# Node
npm-debug.log
node_modules/

# Packages
vendor/

# Mac
.DS_Store

# Windows
Thumbs.db

# WebStorm/PhpStorm/VSCode
.idea/
.vscode/

# vi
*~

# General
log/
*.log