@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
:root {
  --color-torch-red: 252, 20, 84;
  --color-baltic-sea: 40, 39, 44;
  --color-tuna: 52, 52, 60;
  --color-eastern-blue: 28, 133, 181;
  --color-red-orange: 252, 52, 52;
}

body {
  color: azure;
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-areas:
    "header "
    "main "
    "footer ";
  grid-template-rows: 10% auto 15%;
  height: 100dvh;
}

header {
  grid-area: header;
  background-color: rgba(var(--color-tuna), 1);
}

main {
  grid-area: main;
  background-color: rgba(var(--color-tuna), 0.25);
  color: black;
}
footer {
  grid-area: footer;
  background-color: rgba(var(--color-tuna), 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
/*Header*/
header {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 10% auto auto 10%;
  grid-template-areas: ". logo nav .";
  align-items: center;
}

header > picture {
  grid-area: logo;
}

header > picture > img {
  max-height: 100%;
  max-width: 100%;
}
header > nav {
  grid-area: nav;
}
header > nav > ul {
  display: flex;
  justify-content: space-evenly;
}

li > a {
  all: unset;
}
li > a:hover {
  cursor: pointer;
}

/*Footer*/
footer > picture > img {
  height: 75%;
}

footer > picture {
  display: contents;
}

ul > li {
  list-style: none !important;
}
footer > ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  place-content: space-evenly;
}
