@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
:root {
  --color-torch-red: 252, 20, 84;
  --color-baltic-sea: 40, 39, 44;
  --color-tuna: 52, 52, 60;
  --color-eastern-blue: 28, 133, 181;
  --color-red-orange: 252, 52, 52;
}

body {
  color: azure;
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-areas:
    "header "
    "main "
    "footer ";
  grid-template-rows: 5% auto 10%;
  height: 100dvh;
}

header {
  grid-area: header;
  background-color: rgba(var(--color-tuna), 1);
}

main {
  grid-area: main;
  background-color: rgba(var(--color-tuna), 0.25);
  color: black;
}
footer {
  grid-area: footer;
  background-color: rgba(var(--color-tuna), 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

footer > img {
  height: 75%;
}

body,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none !important;
}
ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  place-content: space-evenly;
}
