<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register-End | Funkoshop</title>
    <link rel="icon" type="image/png" href="../../img/branding/isotype.svg"/>
    <link rel="stylesheet" href="../../CSS/normalize.css" />
    <link rel="stylesheet" href="../../CSS/coco-style.css" />
  </head>
  <body>
    <header>
      <nav class="nav-coco container-coco">
        <picture class="picture-nav-coco">
            <img src="../../img/branding/logo_light_horizontal.svg" 
            alt="Isologotipo de la Marca Funkoshop"/>
          </a>
        </picture>
        <ul class="enlaces-nav-coco">
          <li><a class="enlaces-coco" href= "../../index.html">SALIR</a></li>
        </ul> 
      </nav>
    </header>
    <main class="container-coco">
      <article class="article-form-coco">
        <br><br><br><br>
        <h3><%= mensajes.mensaje3 %></h3>
        <br><br><br><br>
        <h3><%= mensajes.mensaje1 %></h3>
        <br><br><br><br>
        <p><%= mensajes.mensaje2 %></p>
      </article>
    </main>
</html>
