@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@500&display=swap");
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
/* HEADER */
header {
    background-color: #30343F;
    min-height: 10vh;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul {
    display: flex;
}
a {
    color: #fff;
    text-transform: uppercase;
    padding: 40px;
    text-decoration: none;
}
/* MAIN */
main {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
   text-transform: uppercase; 
   font-size: 40px;
}
form{
    height: 30vh;
    display: flex;
    flex-direction: column;
}
label{
    font-size: 20px;
}
input{
    border: none;
    border-bottom:2px solid red;
    margin-left: 60px;
}
.section-top-form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 15vh;
}
.section-down-form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button{
    background-color: red;
    padding: 10px 15px;
    border: 1px solid rgb(175, 175, 175);
    color: #fff;
    margin: 10px 10px;
}
.input-radio{
    margin: 10px 10px;
}
.a-form{
    color: blue;
    text-decoration: underline;
    text-transform: none;
}
/* FOOTER */
footer {
    background-color: #30343F;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-top{
    min-height: 35vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}
.ul-footer{
    display: flex;
    flex-direction: column;
}
.a-footer{
    padding: 10px;
}
.footer-down{
    min-height: 5vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}