@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&display=swap');

/* DESIGN SYSTEM */
:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid: #1d84b5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --bg-dark-solid: #30343F;
    --bg-light-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-46: 4.6rem; 
    --font-38: 3.8rem; 
    --font-30: 3.0rem; 
    --font-24: 2.4rem; 
    --font-20: 2rem; 
    --font-16: 1.6rem; 
    --font-14: 1.4rem; 

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

html {
    box-sizing: border-box;
    line-height: 1; /* 1 */
    font-family: var(--base-font);
    color: var(--dark-solid);
}
header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

body {
    width: 1440px;
    background: #FFF;
    margin: auto;
}
/* Normalizar IMG */
img {
    width: 100%;
}

/* HEADER */
header {
    background: var(--bg-dark-solid);
    padding: var(--spacing-36);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nabvar {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}
.nabvar__logo {
    display: flex;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-20);
}
.nabvar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
}
.nabvar__link {
    position: relative;
    color: #FFF;
    font-family: "Raleway";
    font-size: var(--font-20);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background 0.3s ease-in-out ;

}
.nabvar__link:hover {
    background-color: var(--primary-900);
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    background: var(--bg-dark-solid);
    font-family: 'Raleway';    
    position: absolute;
    width: 150px;
    z-index: 3;    
}
.submenu__item {
    display: block;
    font-size: var(--font-20);
}
.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    color: #FFFFFF;
    font-size: var(--font-20);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: background 0.3s ease-in-out;  
}
.submenu__link:hover {
    background-color: var(--primary-900);
}
.menu-burguer {
    display: none;
}
.menu-equ{
    display: none;         
}
#menu-input {
    display: none;
}
/* Fin HEADER */